/* Slider */
.slick-slider
{

    display: block;
    position: relative;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{

    display: block;
    position: relative;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    /* cursor: hand; */
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{

    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */

.slick-prev, .slick-next{
    position: absolute;
    top: 40%;
    width: 20px;
    height: 40px;
    line-height:0;
    border: none;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;

}
.slick-prev{
  left: 0;
  background: url("../img/top/img_left_arrow.png") no-repeat center/contain;
}
.slick-next{
  right: 0;
  background: url("../img/top/img_right_arrow.png") no-repeat center/contain;
}



.slick-dots {
  list-style: none;
  margin: 0 auto;
  margin-top: 21px;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button{
  width: 10px;
  height: 10px;
  margin-right: 8px;
  padding: 0;
  border: none;
  background-color: #CBCCCD;
  color: transparent;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out 0s;
  border-radius: 50%;
}
.slick-dots li.slick-active button{
  background-color: #666666;
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1160px) {

    /* Slider */
    .slick-prev, .slick-next{
    position: absolute;
    top: 40%;
    width: 1.302vw;
    height: 2.604vw;
    line-height:0;
    border: none;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;

}
.slick-prev{
  left: 0;
  background: url("../img/top/img_left_arrow_sp.png") no-repeat center/contain;
}
.slick-next{
  right: 0;
  background: url("../img/top/img_right_arrow_sp.png") no-repeat center/contain;
}

.slick-dots {
    list-style: none;
    margin: 0 auto;
    margin-top: 4.167vw;
    text-align: center;
  }
  .slick-dots li button{
    width: 1.302vw;
    height: 1.302vw;
    margin-right: 1.042vw;
    padding: 0;
    border: none;
    background-color: #CBCCCD;
    color: transparent;
    cursor: pointer;
    transition: 0.2s background-color ease-in-out 0s;
    border-radius: 50%;
  }
}


/* SP View (mobile view)*/
@media screen and (max-width: 767.9px) {

    /* Slider */
    .slick-prev, .slick-next{
    position: absolute;
    top: 41%;
    width: 3.125vw;
    height: 6.25vw;
    line-height:0;
    border: none;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;

    }
    .slick-prev{
    left: 0;
    background: url("../img/top/img_left_arrow.png") no-repeat center/contain;
    }
    .slick-next{
    right: 0;
    background: url("../img/top/img_right_arrow.png") no-repeat center/contain;
    }

    .slick-dots {
    list-style: none;
    margin: 0 auto;
    margin-top: 5vw;
    text-align: center;
    }
    .slick-dots li button{
    width: 1.563vw;
    height: 1.563vw;
    margin-right: 1.25vw;
    padding: 0;
    border: none;
    background-color: #CBCCCD;
    color: transparent;
    cursor: pointer;
    transition: 0.2s background-color ease-in-out 0s;
    border-radius: 50%;
    }
}